@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f8f4f0;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-entertainment: 177 52% 32%;
    --chart-bills: 190 52% 68%;
    --chart-dining-out: 28 73% 81%;
    --chart-personal-care: 248 8% 31%;
  }
}

@layer component {
  .finance-wrapper {
    grid-template-columns: 18.75rem 1fr;
  }

  .finance-wrapper_isCollapsed {
    grid-template-columns: 5.5rem 1fr;
  }

  .finance-wrapper > .sidebar {
    width: 18.75rem;
    transition: width 0.5s ease-in-out;
  }

  .finance-wrapper_isCollapsed > .sidebar {
    width: 5.5rem;
    transition: width 0.5s ease-in-out;
  }

  .main-overview {
    grid-template-columns: 38rem 1fr;
    grid-template-rows: 47.5625rem;
  }

  .main-overview-pot {
    grid-template-columns: 1fr;
    grid-template-rows: 13.625rem 32.4375rem;
  }

  .main-overview-budgets {
    grid-template-columns: 1fr;
    grid-template-rows: 25.625rem 20.4375rem;
  }

  .my-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
  }

  .sort-list {
    top: 2.5rem;
    right: 2rem;
    width: 7.125rem;
    border-radius: 8px;
    height: 18.75rem;
    overflow: hidden;
    overflow-y: scroll;
  }

  .sort-list > li:not(:last-child) {
    border-bottom: 1px solid #f8f4f0 !important;
  }

  .sort-list-item {
    padding: 1.25rem 0.75rem;
    color: #201f24;
  }
  .search-form {
    width: 20rem;
  }
  .sortby-text,
  .category-text {
    color: #696868;
    font-size: 0.875rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    padding-block: 1rem;
    text-align: left;
  }

  tr > th {
    font-weight: 300;
    color: #696868;
  }

  thead tr {
    border-bottom: 1px solid #f8f4f0 !important;
  }

  tbody tr:not(:last-child) {
    border-bottom: 1px solid #f8f4f0 !important;
  }

  .budgets-wrapper {
    grid-template-columns: 26.75rem 1fr;
    grid-template-rows: 41.8rem 1fr;
  }

  @media (width <= 48rem) {
    .finance-wrapper {
      grid-template-columns: 1fr;
    }

    .main-overview {
      grid-template-rows: 47.5625rem 51.5625rem;
      grid-template-columns: 1fr;
    }
    .search-form {
      width: 10.0625rem;
    }
  }

  @media (width <= 40rem) {
    .main-overview {
      grid-template-rows: 52.6875rem 58rem;
      grid-template-columns: 1fr;
    }
    .main-overview-pot {
      grid-template-columns: 1fr;
      grid-template-rows: 20.25rem 31.4375rem;
    }

    .main-overview-budgets {
      grid-template-columns: 1fr;
      grid-template-rows: 33.125rem 20.4375rem;
    }

    .search-form {
      width: 13.4375rem;
    }

    thead tr {
      border-bottom: none !important;
    }
  }
}
