@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f8f4f0;
  }
}

@layer component {
  .finance-wrapper {
    grid-template-columns: 18.75rem 1fr;
  }

  .finance-wrapper_isCollapsed {
    grid-template-columns: 5.5rem 1fr;
  }

  .finance-wrapper > .sidebar {
    width: 18.75rem;
    transition: width 0.5s ease-in-out;
  }

  .finance-wrapper_isCollapsed > .sidebar {
    width: 5.5rem;
    transition: width 0.5s ease-in-out;
  }

  .main-overview {
    grid-template-columns: 38rem 1fr;
    grid-template-rows: 47.5625rem;
  }

  @media (width <= 48rem) {
    .finance-wrapper {
      grid-template-columns: 1fr;
    }

    .main-overview {
      grid-template-rows: 13.625rem 32.4375rem;
      grid-template-columns: 1fr;
    }
  }
}
